*{
    list-style: none;
}

.button:hover{
    background-color: rgba(158, 211, 231, 0.85);
    color: #ffffff;
    border: 3px solid #159DCC;
}
.items{
    margin-left: 4px;
}
.list{
    display: flex;
    align-items: center;
}